img{
  height: 550px;
}

img:hover{
  transform: scale(1.1);
}

body{
  background-color: rgba(100, 250, 190);
  margin: 0px;
}

h1{
  font-size: 200px;
  color: rgba(240, 50, 100);
  text-align: center;
}

p{
  font-size: 80px;
  color: rgba(240, 40, 200);
  text-align: center;
}

video{
  margin-left: 330px;
}
